<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="https://stormy-caverns-94610.herokuapp.com/">Brandon Sanderson</a>
		</div>

		  <ul class="nav navbar-nav">
		  	<li><a href="https://stormy-caverns-94610.herokuapp.com/home?id=1">The Stormlight Archive</a></li>
		  </ul>
            <ul class="nav navbar-nav">
		  	<li><a href="https://stormy-caverns-94610.herokuapp.com/home?id=2">Mistborn</a></li>
		  </ul>
            <ul class="nav navbar-nav">
		  	<li><a href="https://stormy-caverns-94610.herokuapp.com/home?id=3">Elantris</a></li>
		  </ul>
            <ul class="nav navbar-nav">
		  	<li><a href="https://stormy-caverns-94610.herokuapp.com/home?id=4">Warbreaker</a></li>
		  </ul>	  
	</div>
</nav>
 