.crop {
    width:100%;
}

.height400 {
    height:400px;
}

.bg-drkCell {
    background-color: #296696;
}

.bg-midCell {
    background-color: #4095DA;
}

.bg-lightCell {
    background-color: #4AF8F0;
}